Q 1.

In [23]:
class Animal:
    def speak(self):
        print("Animal speaks...")

class Dog(Animal):
    def speak(self):
        print("Bark!")
dog = Dog()
dog.speak()

Bark!

Q 2.

In [12]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius * self.radius

class Rectangle(Shape):
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width
    circle = Circle(5)
    rectangle = Rectangle(4, 6)
    print("Circle area:", circle.area())
    print("Rectangle area:", rectangle.area())

Circle area: 78.5
Rectangle area: 24

Q 3.

In [52]:
class Vehicle:
    def __init__(self, type):
        self.type = type

class Car(Vehicle):
    def __init__(self, type, brand):
        super().__init__(type)
        self.brand = brand

class ElectricCar(Car):
    def __init__(self, type, brand, battery):
        super().__init__(type, brand)
        self.battery = battery
OLA = ElectricCar("Electric", "OLA", "100 kWh")
print(OLA.type, OLA.brand, OLA.battery)

Electric OLA 100 kWh

Q 4.

In [20]:
class Bird:
    def fly(self):
        print("Bird is flying")

class Sparrow(Bird):
    def fly(self):
        print("Sparrow flies high")

class Penguin(Bird):
    def fly(self):
        print("Penguin can't fly")
    birds = [Sparrow(), Penguin()]
    for bird in birds:
      bird.fly()

Sparrow flies high
Penguin can't fly

Q5.

In [22]:
class BankAccount:
    def __init__(self):
        self.__balance = 0

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount

    def withdraw(self, amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount

    def check_balance(self):
        return self.__balance
    acc = BankAccount()
    acc.deposit(1000)
    acc.withdraw(300)
    print("Balance:", acc.check_balance())

Balance: 700

Q6.

In [24]:
class Instrument:
    def play(self):
        print("Playing instrument")

class Guitar(Instrument):
    def play(self):
        print("Strumming the guitar")

class Piano(Instrument):
    def play(self):
        print("Playing the piano")

Strumming the guitar
Playing the piano

Q7.

In [35]:
    class MathOperations:
      @classmethod
      def add_numbers(cls, a, b):
        return a + b

      @staticmethod
      def subtract_numbers(a, b):
        return a - b

    print("Addition:", MathOperations.add_numbers(10, 5))
    print("Subtraction:", MathOperations.subtract_numbers(10, 5))

Addition: 15
Subtraction: 5

Q8.

In [36]:
class Person:
    count = 0

    def __init__(self, name):
        self.name = name
        Person.count += 1

    @classmethod
    def total_persons(cls):
        return cls.count
    p1 = Person("Shivam")
    p2 = Person("Shivani")
    print("Total Persons:", Person.total_persons())

Total Persons: 2

Q9.

In [54]:
class Fraction:
    def __init__(self, numerator, denominator):
        self.numerator = numerator
        self.denominator = denominator

    def __str__(self):
        return f"{self.numerator}/{self.denominator}"
frac = Fraction(3, 4)
print("Fraction:", frac)

Fraction: 3/4

Q10.

In [48]:
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y)

    def __str__(self):
        return f"({self.x}, {self.y})"

    v1 = Vector(2, 3)
    v2 = Vector(4, 1)
    v3 = v1 + v2
    print("Vector sum:", v3)

Vector sum: (6, 4)

Q11.

In [49]:
class GreetPerson:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        print(f"Hello, my name is {self.name} and I am {self.age} years old.")

    person = GreetPerson("Shivam", 30)
    person.greet()

Hello, my name is Shivam and I am 30 years old.

Q.12

In [58]:
class Student:
    def __init__(self, name, grades):
        self.name = name
        self.grades = grades

    def average_grade(self):
        return sum(self.grades) / len(self.grades)

student = Student("Shivam", [85, 90, 78])
print(f"Student: {student.name}, Average Grade: {student.average_grade():.2f}")

Student: Alice, Average Grade: 84.33

Q. 13

In [59]:
class Rectangle:
    def __init__(self):
        self.length = 0
        self.width = 0

    def set_dimensions(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width
rect = Rectangle()
rect.set_dimensions(5, 4)
print(f"Rectangle Area: {rect.area()}")

Rectangle Area: 20

Q. 14

In [60]:
class Employee:
    def __init__(self, hours_worked, hourly_rate):
        self.hours_worked = hours_worked
        self.hourly_rate = hourly_rate

    def calculate_salary(self):
        return self.hours_worked * self.hourly_rate

class Manager(Employee):
    def __init__(self, hours_worked, hourly_rate, bonus):
        super().__init__(hours_worked, hourly_rate)
        self.bonus = bonus

    def calculate_salary(self):
        return super().calculate_salary() + self.bonus
emp = Employee(40, 20)
mgr = Manager(40, 20, 200)
print(f"Employee Salary: {emp.calculate_salary()}")
print(f"Manager Salary with Bonus: {mgr.calculate_salary()}")

Employee Salary: 800
Manager Salary with Bonus: 1000

Q. 15

In [61]:
class Product:
    def __init__(self, name, price, quantity):
        self.name = name
        self.price = price
        self.quantity = quantity

    def total_price(self):
        return self.price * self.quantity
prod = Product("Laptop", 750.00, 3)
print(f"Product: {prod.name}, Total Price: ${prod.total_price():.2f}")

Product: Laptop, Total Price: $2250.00

Q. 16

In [62]:
from abc import ABC, abstractmethod

class Animal(ABC):
    @abstractmethod
    def sound(self):
        pass

class Cow(Animal):
    def sound(self):
        return "Moo"

class Sheep(Animal):
    def sound(self):
        return "Baa"
cow = Cow()
sheep = Sheep()
print(f"Cow sound: {cow.sound()}")
print(f"Sheep sound: {sheep.sound()}")

Cow sound: Moo
Sheep sound: Baa

Q. 17

In [65]:
class Book:
    def __init__(self, title, author, year_published):
        self.title = title
        self.author = author
        self.year_published = year_published

    def get_book_info(self):
        return f"'{self.title}' by {self.author}, invented in {self.year_published}"

book = Book("Python", "Guido van Rossum", 1991)
print(book.get_book_info())

'Python' by Guido van Rossum, invented in 1949

Q. 18

In [69]:
class House:
    def __init__(self, address, price):
        self.address = address
        self.price = price

class Mansion(House):
    def __init__(self, address, price, number_of_rooms):
        super().__init__(address, price)
        self.number_of_rooms = number_of_rooms
mansion = Mansion("Canuaght Place", 500000, 12)
print(f"Mansion Address: {mansion.address}, Price: Rs.{mansion.price}, Rooms: {mansion.number_of_rooms}")

Mansion Address: Canuaght Place, Price: Rs.500000, Rooms: 12